.App {
  background-image: url("./images/nextWallpaper.png");
  height: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-box {
  width: 70%;
  height: 50%;
  border: 3px solid white;
  box-shadow: 0 0 15px 0.1px white, inset 0px 0px 15px 0.1px white;
  border-radius: 10px;
}

.next-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #febba9;
  font-size: 50px;
  border: 3px solid #ffffe0;
  width: 150px;
  height: 75px;
  box-shadow: 0 0 15px 0.1px #ffffe0, inset 0px 0px 15px 0.1px #ffffe0;
  text-shadow: 0 0 15px 0.1px #febba9, inset 0px 0px 15px 0.1px #febba9;
  border-radius: 10px;
}